---
layout: 'layout-japanese'
title: 'ミカエル　ランボー プロフィール'
description: '大阪のWebエンジニア。経験があるスキル: Responsive Web Design, AngularJS, ReactJS, MongoDB...'
menuId: 'EXPERIENCE'
className: 'japanese'
slimbox: true
standalone: true
language: 'ja'
---

h1 履歴書 / プロフィール
div.pure-g-r
  div.pure-u-1-4.visible-lg.pure-hidden-phone.hidden-print
    div.pure-menu.pure-menu-open.pure-menu-vertical
      ul.nav.bs-sidenav
          li
            a(href="#work") 職務経歴書
          li
            a(href="#skills") スキルシート
          li
            a(href="#portfolio") ポートフォリオ


  div.pure-u-3-4
    //h1 履歴書 / プロフィール
    .block
      div(style="float: right;")
        img(alt="Michael Rambeau",src=getPath("img/photos/identite.jpg"))
        br
        img.logo(src=getPath("img/logos/nodejs.png"), alt="node.js", width="150")
        br
        img.logo(src=getPath("/img/logos/mongodb.jpg"), alt="mongoDB", width="150")
        br
        img.logo(src=getPath("img/logos/react.png"), alt="React", width="150")
      //h1 履歴書 / プロフィール


      div.intro
        p.name Michael Rambeau ミカエル　ランボー
        p= 'WEB開発エンジニア' + getAge() + ' 歳'
        p 【WEBサイト】http://michaelrambeau.com/
        p 【メール】michael.rambeau@gmail.com
        p 【電話番号】090-1919-4375
        p 【住所】大阪府　茨木市
        p 【ビザ満了日】2019年5月　(日本人の配偶者等)

      h3 語学
      ul
        li 日本語　日常会話レベル JLPT N3
        li 英語　ビジネスレベル TOEIC 960 points
        li フランス語　ネイティブ

      h3 最終学歴
      p 1999年6月　フランス国立Pau(ポー)大学校　物理学科

      h3 職歴
      ul
        li 2001年～2004年 フランス・パリ Lotus Notes　開発
        li 2004年～2010年 フランス・トゥールーズ Lotus Notes - Domino イントラネットWEB開発
        li 2010年～2011年 大阪 フリーランス PHP MySQL WEB開発
        li 2011年～2014 大阪 BrastelRemit webサイト担当者
        li 2014年～現在 大阪 ファーストサーバ株式会社 web開発

      h3 経験があるスキル
      ul
        li [ 言語、ツール ] HTML, CSS, Javascript ES6, jQuery, CoffeeScript, Ruby on Rails, PHP, XSL- XML, Lotus Notes Domino
        li [ DB ] MongoDB, MySQL, MS SQL Server

      ul
        li [JavaScript フレームワーク ] React, Flux, AngularJS
        li [ WEBサーバー ] node.js, Express
        li [ モバイル ] Responsive Web Design, Ionic framework
        li [ CSSメタ言語 ] LESS, Stylus, Sass
        li [ PHPフレームワーク ] CakePHP, YII
        li [ バージョン管理システム ] GitHub, SVN

    a(name="work")
    h2 職務経歴書
    .block

      h3 【勤務先会社名】フランス　パリ　GPA 2001年1月 ~ 2001年9月
      //p 【雇用形態】正社員
      p 【事業内容】保険会社
      p 【業務内容】Lotus Notes 開発
      p 【トピックス】デスクトップアプリケーションの開発, サポート

      h3 【勤務先会社名】フランス　パリ　CCR (2001年9月 ~ 2004年8月)
      //p 【雇用形態】正社員
      p 【事業内容】保険会社
      p 【業務内容】Lotus Notes 開発
      p 【トピックス】CRMのアプリケーションの開発、サポート

      h3 【勤務先会社名】AirFrance (2004年9月 ~ 2010年3月)
      //p 【雇用形態】正社員
      p 【事業内容】航空会社
      p 【業務内容】イントラネットの WEB　アプリケーション　開発
      p 【トピックス】アプリケーション　設計、実装、サポート. 例
      ul.examples
        li e-letter プロジェクト: AirFrance航空全従業員に送信するニュースレターの為の HTML MIME format を用いた電子メール大量送信 アプリケーション開発
        li e-slots プロジェクト : AirFrance・カーゴトラック（運搬車両）の出発・到着のスケジュールプログラムデザイン開発
        li Flight incidents マネージャー : ハブ空港パリ-シャルル・ドゴール空港交通管制塔のために緊急の問題を修正、解決を目的とするアプリケーション開発

      h3 【勤務先会社名】フランスObjective (2010年8月 ~ 2011年1月)
      p 【雇用形態】フリーランス
      p 【事業内容】IT
      p 【業務内容】WEB開発
      p 【トピックス】PHP - MySQL のCRMをメンテナンス

      h3 【勤務先会社名】Brastel Telecom (2011年5月 ~ 2014年11月)

      p 【雇用形態】正社員
      p 【事業内容】テレコム
      p 【業務内容】WEBサイト開発の担当

      p 【トピックス】
      ul
        li XHTML, CSS, Javascript, XSLでWEBサイトを作成。
        li デザインチームとシステムチームの中心としてコーディネーション。
        li モバイルユーザと「Responsive Web Design」について検討と提案。

      h3 【勤務先会社名】ファーストサーバ (2014年12月 ~ 在籍中)
      p 【雇用形態】正社員
      p 【事業内容】レンタルサーバ
      p 【業務内容】WEBカスタマーポータール開発

    a(name="skills")
    h2 スキルシート

    .block
      h3 自己PR

      p 2000年からイントラネットとインターネットのアプリケーションを設計しています。
      p 2010年来日。
      p 2011年ブラステル株式会社に入社。
      p BrastelRemitという　新しい海外送金サービスがリリースされ、私はBrastelRemitのWEBサイトの担当です。
      p 現在、HTML, Javascript, CSS, Responsive Web Design の仕事をしています。
      p 最先端のウェブテクノロジーに関心があります。

      - if (false)
        h3 経験があるスキル
        ul
          li [ 言語、ツール ] HTML, CSS, Javascript, jQuery, CoffeeScript, PHP, XSL- XML, Lotus Notes Domino
          li [ DB ] MongoDB, MySQL, MS SQL Server

        ul
          li [ PHPフレームワーク ] CakePHP, YII
          li [ WEBサーバー ] node.js, Express
          li [ Responsive Web Design ] Bootstrap, PureCSS
          li [JavaScript フレームワーク ] AngularJS
          li [ CSSメタ言語 ] LESS, Stylus
          li [ バージョン管理システム ] GitHub, SVN

      h3 スキル

      table.pure-table.skills.pure-table-bordered
        thead
          tr
            th(width="90") プロジェクト期間
            th 牛無内容
            th システム環境
        tbody
          tr
            td 2001 （9ヶ月）
            td デスクトップアプリケーションの開発, サポート
            td Lotus Notes Domino 4.6 - Windows NT
          tr
            td 2001 ~ 2004 （3年）
            td CRMのアプリケーションの開発、サポート
            td Lotus Notes Domino 5 / 6.0 - Windows NT / XP
          tr
            td 2004 ~ 2010 （6年）
            td
              p アプリケーション　設計、実装、サポート

            td
              p Lotus Notes Domino 5 / 6.5 - Win XP
              p HTML, HTML - MIME, CSS
              p JavaScript, ajax, YUI
          tr
            td 2010 ~ 2011 （4月）
            td PHP - MySQL のCRMを維持
            td PHP 5, MySQL, vtiger CRM
          tr
            td 2011 ~ 現在　(3年）
            td
              p brastelremit.jpのWEBサイト開発の担当
              p jQuery, XHTML, XSL, CSSで　すべてのページを作成
              p "Responsive Web Design"の提案、実装。2014年7月リリース。http://brastelremit.jp
            td
              p XML, XSL, MS SQLServer 2008, Win XP
              p XHTML, CSS, LESS, Bootstrap
              p jQuery, AngularJS
              p SVN


    a(name="portfolio")
    h2 ポートフォリオ / 実績
    each project in projects.filter(function(p){ return p.enabled != false })
      .project
        .pure-g-r
          .pure-u-3-5
            h3=project.year + '年' + project.title.jpn
            p!= project.text.jpn
            p 【テクノロジ】
            ul
              each techno in project.technologies
                li= techno
            if project.url
              p.buttons
                if project.buttons
                  each button in project.buttons
                    a.pure-button.pure-button-primary(href=button.url, target="_blank")= button.text.jpn
                else
                  a.pure-button.pure-button-primary(href=project.url, target="_blank") DEMO
          div.pure-u-2-5
            each image in project.image
              if project.url
                a.thumbnail(href=project.url, target="_blank")
                  img.img-responsive(src=getPath("img/screenshots/" + image), alt=project.title)
              else
                a.thumbnail(href= getPath("img/screenshots/" + image), target="_blank", rel="lightbox-screeshots")
                  img.img-responsive(src=getPath("img/screenshots/" + image), alt=project.title)
