---
layout: 'layout-japanese'
title: 'ミカエル　ランボー プロフィール'
description: '大阪のWebエンジニア。経験があるスキル: Responsive Web Design, AngularJS, ReactJS, MongoDB...'
menuId: 'EXPERIENCE'
className: 'japanese'
slimbox: true
standalone: true
language: 'ja'
---

h1 履歴書 / プロフィール
.grid-layout
  div.hidden-print
    div.pure-menu.pure-menu-open.pure-menu-vertical
      ul.nav.bs-sidenav
          li
            a(href="#work") 職務経歴書
          li
            a(href="#skills") スキルシート
          li
            a(href="#portfolio") ポートフォリオ


  div
    //h1 履歴書 / プロフィール
    .block
      div(style="float: right;text-align: right;")
        img(alt="Michael Rambeau",src=getPath("img/photos/identite.jpg"))
        br
        img.logo(src=getPath("img/logos/nodejs.png"), alt="node.js", width="150")
        br
        img.logo(src=getPath("/img/logos/mongodb.jpg"), alt="mongoDB", width="150")
        br
        img.logo(src=getPath("img/logos/react.png"), alt="React", width="150")
      //h1 履歴書 / プロフィール


      div.intro
        p.name Michael Rambeau ミカエル　ランボー
        p= 'WEB開発エンジニア' + getAge() + ' 歳'
        p 【WEBサイト】http://michaelrambeau.com/
        p 【メール】michael.rambeau@gmail.com
        p 【電話番号】090-1919-4375
        p 【住所】大阪府　茨木市
        p 【ビザ満了日】2019年5月　(日本人の配偶者等)

      h3 語学
      ul
        li 日本語　日常会話レベル JLPT N3
        li 英語　ビジネスレベル TOEIC 960 points
        li フランス語　ネイティブ

      h3 最終学歴
      p 1999年6月　フランス国立Pau(ポー)大学校　物理学科

      h3 職歴
      ul
        li 2001年～2004年 フランス・パリ Lotus Notes　開発
        li 2004年～2010年 フランス・トゥールーズ Lotus Notes - Domino イントラネットWEB開発
        li 2011年～2014年 大阪 BrastelRemit.jp webサイト担当者
        li 2014年～2016年 大阪 ファーストサーバ株式会社 web 開発
        li 2016年～現在 京都 shipandco.com web アプリケーション Full-stack web 開発

      h3 経験があるスキル
      ul
        li [ 言語、ツール ] HTML5, Javascript ES6, node.js, CSS Flexbox, CoffeeScript, XSL- XML, Lotus Notes Domino
        li [JavaScript ライブラリ ] React, Redux, AngularJS, Webpack, Mocha
        li [ モバイル ] Responsive Web Design, Ionic framework
        li [ CSSメタ言語 ] LESS, Stylus, Sass
        li [ WEBフレームワーク ] Express, Meteor, Ruby on Rails, CakePHP
        li [ バージョン管理システム ] Git, GitHub, SVN
        li [ DB ] MongoDB, MySQL, MS SQL Server

    a.anchor(name="work")
    h2 職務経歴書
    .block

      h3 【勤務先会社名】フランス　パリ　GPA 2001年1月 ~ 2001年9月
      //p 【雇用形態】正社員
      p 【事業内容】保険会社
      p 【業務内容】Lotus Notes 開発
      p 【トピックス】デスクトップアプリケーションの開発, サポート

      h3 【勤務先会社名】フランス　パリ　CCR (2001年9月 ~ 2004年8月)
      //p 【雇用形態】正社員
      p 【事業内容】保険会社
      p 【業務内容】Lotus Notes 開発
      p 【トピックス】CRMのアプリケーションの開発、サポート

      h3 【勤務先会社名】AirFrance (2004年9月 ~ 2010年3月)
      //p 【雇用形態】正社員
      p 【事業内容】航空会社
      p 【業務内容】イントラネットの WEB　アプリケーション　開発
      p 【トピックス】アプリケーション　設計、実装、サポート. 例
      ul.examples
        li e-letter プロジェクト: AirFrance航空全従業員に送信するニュースレターの為の HTML MIME format を用いた電子メール大量送信 アプリケーション開発
        li e-slots プロジェクト : AirFrance・カーゴトラック（運搬車両）の出発・到着のスケジュールプログラムデザイン開発
        li Flight incidents マネージャー : ハブ空港パリ-シャルル・ドゴール空港交通管制塔のために緊急の問題を修正、解決を目的とするアプリケーション開発

      h3 【勤務先会社名】Brastel Telecom (2011年5月 ~ 2014年11月)

      p 【雇用形態】正社員
      p 【事業内容】テレコム
      p 【業務内容】WEBサイト開発の担当

      p 【トピックス】
      ul
        li XHTML, CSS, Javascript, XSLでWEBサイトを作成。
        li デザインチームとシステムチームの中心としてコーディネーション。
        li モバイルユーザと「Responsive Web Design」について検討と提案。

      h3 【勤務先会社名】ファーストサーバ (2014年12月 ~ 2016年06月)
      p 【雇用形態】正社員
      p 【事業内容】レンタルサーバ
      p 【業務内容】WEBカスタマーポータール開発

      p 【トピックス】
      ul
        li WEB登録プロセスの問題を分析して、改善を提案。
        li Responsive Web Design で、single page applicationを設計、開発。
        li 最先端のWEBテクノロジーで (React, Redux, Webpack)、本番のアップリケシオンをりりーす。
        li チームメンバーの技術を高めるように、勉強会を行いました。

      h3 【勤務先会社名】Bento&Co (2016年07月 ~ 在籍中)
      p 【雇用形態】正社員
      p 【事業内容】オンラインストア
      p 【業務内容】shipandco.com WEBアプリケーション開発

      p 【トピックス】
      ul
        li Meteor WEBフレームワーク と　node.jsで、Front-endとbackend-endの開発
        li 国内と国際の運送会社のAPIを対して、shipandco.comの機能を開発しました。

    a(name="skills")
    h2 スキルシート

    .block
      h3 自己PR

      p 2000年からイントラネットとインターネットのアプリケーションを設計しています。
      p 2010年来日。
      p 2011年ブラステル株式会社に入社。
      p BrastelRemitという　新しい海外送金サービスがリリースされ、私はBrastelRemitのWEBサイトの担当でした。
      p 2014年ファーストサーバ株式会社に入社。
      p HTML, Javascript ES6, React, Redux, CSS, Responsive Web Design の仕事をしました。
      p カスタマーポータルのUI/UXの担当でした。
      p 現在、Meteorフレームワークとnode.jsで、shipandco.comというWEBアプリケーションを開発しています。
      p 最先端のウェブテクノロジーに関心があるので、open source <a href="http://bestof.js.org/">bestof.js.org</a>というWEBプリケーションを作りました。


      h3 スキル

      table.pure-table.skills.pure-table-bordered
        thead
          tr
            th(width="120") 期間
            th 牛無内容
            th システム環境
        tbody
          tr
            td 2001（9ヶ月）
            td デスクトップアプリケーションの開発, サポート
            td Lotus Notes Domino 4.6 - Windows NT
          tr
            td 2001 ~ 2004<br />（3年）
            td CRMのアプリケーションの開発、サポート
            td Lotus Notes Domino 5 / 6.0 - Windows NT / XP
          tr
            td 2004 ~ 2010<br />（6年）
            td
              p アプリケーション　設計、実装、サポート

            td
              p Lotus Notes Domino 5 / 6.5 - Win XP
              p HTML, HTML - MIME, CSS
              p JavaScript, ajax, YUI
          tr
            td 2011 ~ 2014<br /> (3年）
            td
              p brastelremit.jpのWEBサイト開発の担当
              p jQuery, XHTML, XSL, CSSで　すべてのページを作成
              p "Responsive Web Design"の提案、実装。2014年7月リリース: <a href="http://brastelremit.jp">http://brastelremit.jp</a>
            td
              p XML, XSL, MS SQLServer 2008, Win XP
              p XHTML, CSS, LESS, Bootstrap
              p jQuery, AngularJS
              p SVN
          tr
            td 2014 ~ 2016<br /> (2年）
            td
              p Web UI/UX開発の担当
              p 2016年1月WEBホスティイング申し込みリリース: <a href="https://my.zenlogic.jp/registration/hosting/start?tracking=0#/">https://my.zenlogic.jp/registration/hosting/start</a>
            td
              p Ruby on Rails
              p JavaScript ES6, CSS, Sass
              p React, Redux
              p Github
          tr
            td 2016 ~ 現在
            td
              p <a href="https://www.shipandco.com" target="_blank">shipandco.com</a> WEB アプリケーション開発
            td
              p Meteor web framework, node.js
              p JavaScript ES6, CSS, Sass
              p Github


    a(name="portfolio")
    h2 ポートフォリオ / 実績
    each project in projects.filter(function(p){ return p.enabled != false })
      .project
        .grid.project-grid
          div
            h3=project.year + '年 ' + project.title.jpn
            p!= project.text.jpn
            p 【テクノロジ】
            ul
              each techno in project.technologies
                li= techno
            if project.url
              p.buttons
                if project.buttons
                  each button in project.buttons
                    a.pure-button.pure-button-primary(href=button.url, target="_blank")= button.text.jpn
                else
                  a.pure-button.pure-button-primary(href=project.url, target="_blank") DEMO
          div
            each image in project.image
              if project.url
                a.thumbnail(href=project.url, target="_blank")
                  img.img-responsive(src=getPath("img/screenshots/" + image), alt=project.title)
              else
                a.thumbnail(href= getPath("img/screenshots/" + image), target="_blank", rel="lightbox-screeshots")
                  img.img-responsive(src=getPath("img/screenshots/" + image), alt=project.title)
